html,
body {
  padding: 0;
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202124;
  color: #e8eaed;
}

a {
  color: inherit;
  text-decoration: none;
  color: lightgray;
}

a::after {
  color: lightslategray;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  margin: 0;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}